#container {
    margin-top:5%;
    margin-left:25%;
    width:45%;
    max-height:594px;
}
#fileBrowser {
    border:1px solid black;
}
#PictureContainerTd {
    background-color:black;
    max-height:700px;
    max-width:1000px;
    overflow:scroll;
}